apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      containers:
      readinessProbe:
  httpGet:
    path: /healthz
    port: 3000 
  initialDelaySeconds: 20 # We wait longer to let Ping-pong start first
  periodSeconds: 5
        - name: log-output
          image: <your-docker-hub-username>/log-output:v1.0
