apiVersion: apps/v1
kind: Deployment
metadata:
  name: log-output-dep
spec:
  replicas: 1
  selector:
    matchLabels:
      app: log-output
  template:
    metadata:
      labels:
        app: log-output
    spec:
      volumes:
        - name: shared-logs
          emptyDir: {} # This is the shared storage
      containers:
        - name: log-generator
          image: prachishah0105/log-output:v1.0 
          command: ["node", "generator.js"] # This starts the writer
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
        - name: log-reader
          image: prachishah0105/log-output:v1.0 
          command: ["node", "index.js"] # This starts the server
          volumeMounts:
            - name: shared-logs
              mountPath: /usr/src/app/files
