apiVersion: apps/v1
kind: Deployment
metadata:
  name: ping-pong-dep
  namespace: exercises #
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ping-pong
  template:
    metadata:
      labels:
        app: ping-pong
    spec:
      containers:
      readinessProbe:
  httpGet:
    path: /healthz
    port: 3000 # Matches the PORT in your index.js screenshot
  initialDelaySeconds: 10
  periodSeconds: 5
        - name: ping-pong
          image: prachishah0105/ping-pong:v1.2 # Update with your image tag
          env:
            - name: DATABASE_URL
              value: "postgres://postgres:example@postgres-svc:5432/postgres" #
