name: Deploy to GKE

on:
  push:
    branches:
      - main

jobs:
  build-publish-deploy:
    name: Build, Publish and Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      # 1. Login to Google Cloud (You'll need Secrets for this later)
      - uses: google-github-actions/auth@v2
        with:
          credentials_json: '${{ secrets.GKE_SA_KEY }}'

      # 2. Get GKE Credentials
      - uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: '${{ secrets.GKE_CLUSTER }}'
          location: '${{ secrets.GKE_ZONE }}'

      # 3. Build and Push Docker Image
      - name: Build and Publish
        run: |
          docker build -t gcr.io/${{ secrets.GKE_PROJECT }}/ping-pong:$GITHUB_SHA ./3.1
          docker push gcr.io/${{ secrets.GKE_PROJECT }}/ping-pong:$GITHUB_SHA

      # 4. Deploy to Cluster
      - name: Deploy
        run: |
          kubectl apply -f 3.2/
